.App{
  background: transparent url('./assets/Mask Group 62.jpg') 0% 0% no-repeat padding-box;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  opacity: 1;
}

.login-container {
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 430px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 4px 4px #0000000A;
  opacity: 1;
}

.login-container h1 {  
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.login-container .form-control {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  background: #F5F5F5 0% 0% no-repeat padding-box;
  box-sizing: border-box; /* Ensures the padding and border are included in the element's total width and height */
}

.login-container .btn-primary {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
}

.login-container .forgot-password {
  text-align: right;
  color: #6418C3;
  text-decoration: underline;
  opacity: 1;
}

.login-container .forgot-password:hover {
  text-decoration: underline;
}

.login-container .sign-up {
  display: block;
  text-align: center;
  margin-top: 20px;
  color: #333;
  font-size: 14px;
}

.login-container .sign-up a {
  color: #007bff;
  text-decoration: none;
}

.login-container .sign-up a:hover {
  text-decoration: underline;
}

.login-card-border {
  border: none !important;
  box-shadow: none !important;
}

.logo{
  opacity: 1;
}

.login-text{
  /* UI Properties */
font: normal normal normal 18px/30px Cairo;
letter-spacing: 0px;
color: #202020;
opacity: 1;
}

.login-input{
 /* UI Properties */
text-align: left;
letter-spacing: 1px;
color: #6E6E6E;
opacity: 1;
}

.login-usertext{
  background: #F5F5F5 0% 0% no-repeat padding-box;
  opacity: 1;  
}

.login-button {
  border: none;
  color: #fff; 
   padding: 12px 24px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
  background: #6C67E1 0% 0% no-repeat padding-box;
  box-shadow: 0px 4px 8px #0000001F;
   opacity: 1;  
}

.login-button:hover {
  background-color: #6C67E1; /* Slightly darker purple on hover */
}

.password-toggle-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  cursor: pointer;
  font-size: 1.2rem; /* Adjust the size of the icon if needed */
  color: #6418C3; /* Eye icon color */
}

.login-usertext-password{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 2px dashed #6418C3;
  opacity: 1;
}

.template-card {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 4px 4px #0000000A;
  opacity: 1;
  border: none !important;
  pointer-events: auto;
  border-radius: 14px !important; /* Add this line to round the corners */
  overflow: hidden;
}
.template-card .badge.bg-secondary {
  background-color: #EEEEEE !important;
  padding: 10px;
  border-radius: 5px;
  color: #4A4A4A;
  font-size: 14px;
  font-weight: normal;
}
.template-card .template-img{
  border-radius: 14px 14px 0px 0px;
  opacity: 0.91;
}

.controls {
  display: flex;
  border: 1px solid #ccc;
  border-top: 0;
  padding: 10px;
}

.controls-right {
  margin-left: auto;
}

.state {
  margin: 10px 0;
  font-family: monospace;
}

.state-title {
  color: #999;
  text-transform: uppercase;
}

.ql-toolbar {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.ql-container {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}