@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
body {
    margin: 0;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #ECECEC;
    font-family: "Cairo", sans-serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.login-button:disabled {
    cursor: not-allowed;
    opacity: 0.65;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.mb-0 {
    margin-bottom: 0;
}

.carousel-indicators [data-bs-target] {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    /* UI Properties */
    border: 1px solid #FFFFFF;
    background: transparent;
    opacity: 1;
}

.carousel {
    pointer-events: auto; /* Prevent carousel from handling pointer events */
}

.carousel-indicators .active {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF;
    opacity: 1;
}

.carousel-indicator {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #ccc;
    cursor: pointer;
    margin: 0 5px;
}

    .carousel-indicator.active {
        background: #007bff;
    }

.carousel-thumbnail {
    width: 250px; /* Adjust the width as needed */
    height: 140px; /* Adjust the height as needed */
    margin: 0 5px;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 5px;
    object-fit: cover;
}

    .carousel-thumbnail.active {
        border: 2px solid #007bff;
    }

.inner-tabs button{
    background-color: #ffffff;
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    color: #262626;
    height: 51px;
    padding: 0 16px;
}
.purpal-clr {
    color: #6C67E1;
}
.main-nav-tab .nav-link {
    padding: 10px 30px 3px 30px !important;
}
.main-nav-tab .nav-link.active:after{
    content: '';
    display: block;
    height: 2px;
    background-color: #FF0C0C;
}